.settings {
	.settingsHeader {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;

		h2 {
			font-size: 1.25rem;
			font-weight: 700;
			color: #c1c2c5;
			margin: 0;
		}
	}
}
