@import '../../styles/variables.less';

.header-content {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 1rem;

	@media (max-width: @breakpoint-sm) {
		justify-content: flex-start;
	}

	.header-title-group {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (max-width: @breakpoint-sm) {
			justify-content: flex-start;
		}

		.title {
			font-size: 2rem;
			font-weight: bold;
			margin: 0;

			@media (max-width: 768px) {
				font-size: 1.2rem;
			}
		}

		.subtitle {
			font-size: 1rem;
			font-weight: normal;
			margin: 0;

			@media (max-width: 768px) {
				font-size: 0.8rem;
			}
		}
	}

	.language-switcher {
		margin-right: 1rem;

		@media (max-width: 768px) {
			margin-right: 0.5rem;
		}
	}
}
