.modal {
	background-color: #353535;
	z-index: 1000;
}

.title {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.closeBtn {
	position: absolute;
	top: 50px;
	right: 75px;
	background: transparent;
	border: none;
	font-size: 16px;
	cursor: pointer;
	color: black;
}

.content {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	overflow-y: scroll;
	height: 90vh;
}
