html,
body {
	background-color: #353535;
	padding: 20px;
}

.app {
	background-color: #ffffff;
}

.closeBtn {
	position: absolute;
	top: 50px;
	right: 75px;
	background: transparent;
	border: none;
	font-size: 16px;
	cursor: pointer;
	color: black;
}

.content {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	overflow-y: scroll;
	max-height: 90vh;
}
