name: Portfolio Web - Check

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    environment: development
    name: Build and Test
    permissions:
      contents: read
      pull-requests: write
      id-token: write # For Azure OIDC auth

    env:
      TF_VAR_azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'npm'

      - name: Npm install
        run: npm install

      - name: Build Application
        run: npm run build
        env:
          VITE_ENV: prod
          VITE_GITHUB_URL: ${{ vars.VITE_GITHUB_URL }}
          VITE_LINKEDIN_URL: ${{ vars.VITE_LINKEDIN_URL }}
          VITE_PERLENSPIEL_URL: ${{ vars.VITE_PERLENSPIEL_URL }}

      - name: Run Coverage
        run: npm run test:coverage

      - name: Post Coverage Report to PR
        uses: davelosert/vitest-coverage-report-action@v2
        if: github.event_name == 'pull_request'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN}}

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="resource_group_name=${{ vars.TF_RESOURCE_GROUP_NAME }}" \
            -backend-config="storage_account_name=${{ vars.TF_STORAGE_ACCOUNT_NAME }}" \
            -backend-config="container_name=${{ vars.TF_CONTAINER_NAME }}" \
            -backend-config="key=portfolio.terraform.tfstate"
        working-directory: ./terraform

      - name: Terraform Plan
        run: terraform plan
        working-directory: ./terraform
