name: Portfolio Web - CI

on:
  push:
    branches:
        - 'feature/**'
        - 'hotfix/**'
  pull_request:
    branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20'
        cache: 'npm'

    - name: Npm install
      run: npm install

    - name: Build Application
      run: npm run build

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        tags: |
          portfolio-web:${{ github.sha }}
          portfolio-web:latest
        build-args: |
          VITE_ENV=prod
